<%- include('header-footer/header') %>
<h2>Statistics</h2>
<ul>
  <% topics.forEach(topic => { %>
    <li><%= topic.name %> - <%= topic.messageCount || 0 %> messages</li>
  <% }) %>
</ul>
<a href="/dashboard?user=YOUR_USER_ID">Back to Dashboard</a>
<%- include('header-footer/footer') %>
